* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:focus {
		outline: none;
	}
}

body {
	background: $background-color;
	color: $text-color;
	font-family: $font-family;
	height: 100vh;
    padding: 0 1.6rem;
	overflow-x: hidden;
}
