@mixin military-camouflage-background {
  background: $military-gradient;
  background-position: center center;
  background-size: cover;
}

@mixin special-camouflage-background {
  background: $special-gradient;
  background-position: center center;
  background-size: cover;
}

@mixin molten-gold-camouflage-background {
  background: $molten-gold-gradient;
  background-position: center center;
  background-size: cover;
}

@mixin moonstone-camouflage-background {
  background: $moonstone-gradient;
  background-position: center center;
  background-size: cover;
}

@mixin chroma-flux-camouflage-background {
  background: $chroma-flux-gradient;
  background-position: center center;
  background-size: cover;
}

@mixin genesis-camouflage-background {
  background: $genesis-gradient;
  background-position: center center;
  background-size: cover;
}

@mixin shattered-gold-camouflage-background {
  background: $shattered-gold-gradient;
  background-position: center center;
  background-size: cover;
}

@mixin arclight-camouflage-background {
  background: $arclight-gradient;
  background-position: center center;
  background-size: cover;
}

@mixin tempest-camouflage-background {
  background: $tempest-gradient;
  background-position: center center;
  background-size: cover;
}

@mixin singularity-camouflage-background {
  background: $singularity-gradient;
  background-position: center center;
  background-size: cover;
}

@mixin golden-dragon-camouflage-background {
  background: $golden-dragon-gradient;
  background-position: center center;
  background-size: cover;
}

@mixin bloodstone-camouflage-background {
  background: $bloodstone-gradient;
  background-position: center center;
  background-size: cover;
}

@mixin doomsteel-camouflage-background {
  background: $doomsteel-gradient;
  background-position: center center;
  background-size: cover;
}

@mixin infestation-camouflage-background {
  background: $infestation-gradient;
  background-position: center center;
  background-size: cover;
}

@mixin golden-damascus-camouflage-background {
  background: $golden-damascus-gradient;
  background-position: center center;
  background-size: cover;
}

@mixin starglass-camouflage-background {
  background: $starglass-gradient;
  background-position: center center;
  background-size: cover;
}

@mixin absolute-zero-camouflage-background {
  background: $absolute-zero-gradient;
  background-position: center center;
  background-size: cover;
}

@mixin apocalypse-camouflage-background {
  background: $apocalypse-gradient;
  background-position: center center;
  background-size: cover;
}